.breakword {
  word-wrap: break-word !important; white-space: normal !important;
  padding: 1px;
}
.pers_cell{
  font-size: 10pt;
  color: black;
  text-align: center;
}
.header_cell{
  font-size: 10pt;
  color: dimgray;
}

